user: kyrin
gitCommit: 85eb47a5be
portDiff: 5
fromBatchNumber: 134480
toBatchNumber: 134500
useExternalDatastream: true
externalDatastreamPath: ./external_ds/data-stream
srcMainnetDataPath: $HOME/Downloads/mainnet_unwound_134484_compact_l1synced/seq